<!DOCTYPE html>
<html ng-app="store">
<head>
    <meta charset="utf-8">
    <!-- <link href="/static/css/bootstrap/css/bootstrap.min.css" rel="stylesheet"/> -->
    <link rel="stylesheet" type="text/css" href="../static/vendors/dist/css/bootstrap.min.css">
</head>
    <!--Products container-->

    <!--Gives this div access to 'store' controller-->
    <body ng-controller="StoreController as store">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="product in store.products">
            <h3>
              {{product.name}}
              <em class="pull-right">${{product.price}}</em>
            </h3>
        </li>
      </ul>

<!--         <div ng-hide="product.soldOut">


            <p>{{product.description}}</p>
            'ng-show' is a directive: show Add to Cart only if canPurchase == true
            <button ng-show="product.canPurchase"> Add to Cart </button>
        </div>
      </div>
 -->
    <script type="text/javascript" src="../static/vendors/angular.min.js"></script>
    <script type="text/javascript" src="../static/app.js"></script>

    </body>
</html>
