<!DOCTYPE html>
<html ng-app="store">
<head>
    <meta charset="utf-8">
    <!-- <link href="/static/css/bootstrap/css/bootstrap.min.css" rel="stylesheet"/> -->
    <link rel="stylesheet" type="text/css" href="/static/vendors/dist/css/bootstrap.min.css">
</head>
    <!--Products container-->
    <body>
        <!--Gives this div access to 'store' controller-->
        <div ng-controller="StoreController as store">
            <h1> {{store.product.name}} </h1>
            <h2>${{store.product.price}}</h2>
            <p>{{store.product.description}}</p>
            <!--'ng-show' is a directive: show Add to Cart only if canPurchase == true-->
            <button ng-show="store.product.canPurchase"> Add to Cart </button>
        </div>

    <script type="text/javascript" src="../static/vendors/angular.min.js"></script>
    <script type="text/javascript" src="../static/app.js"></script>

    </body>
</html>
